---
import Button from "@/components/Button.astro";
import PlusIcon from "@/icons/PlusIcon.astro";
import CopyIcon from "@/icons/CopyIcon.astro";

const { class: ClassList } = Astro.props;
---

<div
  class="flex flex-col-reverse gap-2 md:flex-row items-center justify-between p-8 rounded-lg bg-gray-700/10 ring-1 ring-gray-700/90"
>
  <div class="flex flex-col gap-5 justify-between items-center md:items-start">
    <h3 class="text-gray-600/90">Full Stack Developer</h3>
    <h2 class="font-semibold text-3xl">I'm Lewin Lovo</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
    </p>
    <div class="flex gap-3 items-center justify-start">
      <Button class="bg-green-700 inline-block text-sm">
        Here Me
        <PlusIcon slot={"rigth"} />
      </Button>
      <Button class="bg-gray-700/10 inline-block text-sm">
        Copy Email
        <CopyIcon slot={"rigth"} />
      </Button>
    </div>
  </div>
  <div class="flex flex-col gap-5 items-center">
    <div
      class="flex justify-center items-center gap-2 bg-black/30 py-1 px-3 rounded-full hover:[&>p]:text-green-700 transition ease-out"
    >
      <div class="size-2 rounded-full bg-green-700"></div>
      <p class="text-sm">Aviable To Work</p>
    </div>
    <figure
      class="size-56 rounded-full bg-gray-700 ring-4 ring-gray-600 overflow-hidden"
    >
      <img
        class="size-56 rounded-full self-center object-cover"
        src="/images/profile.webp"
        alt="profile"
      />
    </figure>
  </div>
</div>
