---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import Trajectory from "@/components/Trajectory.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <SectionContainer>
      <Hero />
    </SectionContainer>
    <SectionContainer>
      <Trajectory />
    </SectionContainer>
    <SectionContainer>
      <Footer />
    </SectionContainer>
  </main>
</Layout>
